body, html {
  height: 100%;
  margin: 0;  
  background: #FFFFFF url("groot.jpg") repeat right top fixed;  
}

#menu {
  position: absolute;
  z-index: 9;
  top:10px;
  left:10px;
  background-color: #C79D20;
  border: 1px solid #666;
  text-align: center;
}


.cab_menu {
  width:100%;
  padding: 0px;
  cursor: move;
  z-index: 10;
  background-color: #4B9C6E;
  color: #ffffff;
}


.janela {
  position: absolute;
  display:none;
  z-index: 9;
  background-color: #C79D20;
  border: 1px solid #d3d3d3;
  text-align: center;
}

.cab {
  width:100%;
  padding: 0px;
  cursor: move;
  z-index: 10;
  background-color: #4B9C6E;
  color: #C79D20;
  float: left;
  color: #ffffff;
}

.cab_x {
  float: right
}

.close {
  background-image: url("close.png");
  background-position: center;
  background-repeat: no-repeat;  
  height: 16px;  
  width: 16px;    
  padding: 2px;
}

button.mybutton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#fafafa),
		to(#696969));
	background: linear-gradient(
		top,
		#fafafa 0%,
		#696969);
	border-radius: 10px;
	border: 1px solid #7a7a7a;
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}

button.close {
  background-image: url("1.png");
  background-position: center;
  background-repeat: no-repeat;  
  height: 75px;  
  width: 75px;    
  padding: 20px;  
}

