body, html {
  height: 100%;
  margin: 0;  
  background: #d3d3d3;  
}

.bg {
  background-image: url("guardians.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#menu {
  position: absolute;
  z-index: 9;
  top:10px;
  left:10px;  
  background-color: #E52B50;
  border: 1px solid #d3d3d3;
  text-align: center;
  color: #fff;
}

.cab_menu {
  width:100%;
  padding: 2px;
  cursor: move;
  z-index: 10;
  background-color: #080808;
  color: #fff;
  font-size: 20px;
}


.janela {
  position: absolute;
  display:none;
  z-index: 9;
  background-color: #E52B50;
  border: 1px solid #d3d3d3;
  text-align: center;
}

.cab {
  width:100%;
  padding: 0px;
  cursor: move;
  z-index: 10;
  background-color: #080808;
  color: #fff;
  float: left;
  font-size: 20px;
}

.cab_x {
  float: right
}

.close {
  background-image: url("close.png");
  background-position: center;
  background-repeat: no-repeat;  
  height: 16px;  
  width: 16px;    
  padding: 2px;
}

button.mybutton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#111211),
		to(#121412));
	background: linear-gradient(
		top,
		#D6DDE3 0%,
		#D2D9DF);
	border-radius: 10px;
	border: 0px solid #ffbf00;
	box-shadow:
		0px 1px 3px rgba(115,115,115,0.5),
		inset 0px 0px 3px rgba(214,062,062,1);
	text-shadow:
		0px -1px 0px rgba(153,022,153,0.1),
		0px 1px 0px rgba(255,255,255,0.2);
}

button.close {
  background-image: url("1.png");
  background-position: center;
  background-repeat: no-repeat;  
  height: 75px;  
  width: 75px;    
  padding: 20px;  
}


